body {
    background-color: #212121;
    color: #fff;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  nav {
    background-color: #333;
    padding: 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  .center {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  #banner {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  #clock {
    font-size: 40px;
    background-color: orange;
    padding: 20px 50px;
    border-radius: 10px;
  }
  